body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh;
    padding-top: 250px;
}

form {
    background-color: #f4f4f4;
    padding: 20px 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}


h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}

.social-btn-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

button.social-btn {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 5px;
}

button.social-btn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

.dob-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

.dob-container select {
    flex: 1;
}

.password-strength,
.password-match {
    font-size: 14px;
    margin-top: 5px;
}

.password-weak {
    color: red;
}

.password-strong {
    color: green;
}

.password-match-error {
    color: red;
}

.password-match-correct {
    color: green;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
}

button[type="submit"]:hover {
    background-color: #003f87;
}


@media screen and (max-width: 768px) {
    form {
        width: 100%;
        padding: 20px;
    }

    .dob-container {
        flex-direction: column;
    }

    .dob-container select {
        margin-bottom: 10px;
    }
}
