body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding-top: 100px;
  }
  
  
  .dropdowns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.dropdown-label {
    font-weight: bold;
    color: #333;
}

.dropdown-btn {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    font-size: 14px;
    color: #555;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dropdown-btn:hover {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.dropdown-btn:focus {
    outline: none;
    border-color: #0056b3;
    box-shadow: 0 0 8px rgba(0, 86, 179, 0.5);
}

  
  
  #productGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
    justify-items: center;
    padding: 20px;
  }
  
  .product-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 280px; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
    height: 100%; 
    justify-content: space-between; 
}
  
  .product-image img {
    width: 100%; 
    height: auto; 
    max-height: 200px; 
    object-fit: contain; 
    border-radius: 10px; 
}


  
  .product-info {
    margin-top: 15px;
  }
  
  .product-info h2 {
    font-size: 18px;
    color: #333;
  }
  
  .price-info {
    margin-top: 15px;
    text-align: right;
  }
  
  .original-price {
    text-decoration: line-through;
    color: #777;
  }
  
  .discount {
    color: #e74c3c;
    font-size: 14px;
  }
  
  .total-price {
    font-size: 16px;
    font-weight: bold;
    color: #27ae60;
  }
  
  .buy-btn {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #0075c3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
  }
  
  .buy-btn:hover {
    background-color: #3498db;
  }
  


  
